* {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* ===================================
          navber css start
======================================= */

* {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.title {
    text-align: center;
}

.title h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    color: #222222;
}



/* ==========================
    navber css start
=============================== */
nav {
    background: rgba(53, 53, 53, .25);
    padding: 0 !important;
    margin-top: 50px;
    width: 100%;
    position: absolute !important;
    z-index: 9999;
    top: -20px;
    left: 0;
}

nav .navbar-brand {
    padding: 0;
    position: absolute;
    width: 200px;
    height: 85px;
    line-height: 70px;
    text-align: center;
    background: #313131;
    transform: skewX(-35deg);
    border: 5px solid #000;
}

nav .navbar-brand img {
    transform: skewX(35deg);
}

nav ul li a {
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #f1f1f1;
    text-transform: uppercase;
    margin-left: 20px;
    background: transparent;
    padding: 20px 10px !important;
    position: relative;
    transition: .4s;
}


nav ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: #e23e38;
    content: "";
    transition: .4s;
}

nav ul li a:hover {
    background: #ffffff;
    color: #222222;
}


nav ul li a:hover::after {
    width: 100%;
}


/* ==========================
    navber css end
=============================== */



/* ==========================
    banner part css start
=============================== */
#banner-part .banner {
    background: url(../images/banner.png) no-repeat center;
    background-size: cover;

}

#banner-part .banner .overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .6);
    text-align: center;
    padding-bottom: 115px;
    padding-top: 250px;
}

#banner-part .banner .overlay .text {
    width: 600px;
    text-align: center;
    margin: auto;
}

#banner-part .banner .overlay h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
}

#banner-part .banner .overlay h3::after {
    position: absolute;
    top: 110%;
    transform: translateY(-110%);
    left: 5px;
    width: 180px;
    height: 2px;
    background: #e23e38;
    content: "";
}

#banner-part .banner .overlay h3::before {
    position: absolute;
    top: 110%;
    transform: translateY(-110%);
    right: 0;
    width: 130px;
    height: 2px;
    background: #e23e38;
    content: "";
}

#banner-part .banner .overlay h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    color: #e23e38;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

#banner-part .banner .overlay h1::after {
    position: absolute;
    top: -40%;
    transform: translatex(40%);
    left: 4px;
    width: 2px;
    height: 200px;
    background: #e23e38;
    content: "";
}

#banner-part .banner .overlay h1::before {
    position: absolute;
    top: -40%;
    transform: translatex(40%);
    right: 0;
    width: 2px;
    height: 200px;
    background: #e23e38;
    content: "";
}

#banner-part .banner .overlay p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    width: 500px;
    text-align: center;
    margin: auto;
    color: #b9b9b9;
    line-height: 24px;
    position: relative;

}

#banner-part .banner .overlay p::after {
    position: absolute;
    bottom: -45%;
    transform: translateY(45%);
    left: -45px;
    width: 74px;
    height: 2px;
    background: #e23e38;
    content: "";
}

#banner-part .banner .overlay p::before {
    position: absolute;
    bottom: -42%;
    transform: translateY(42%);
    right: -50px;
    width: 45px;
    height: 2px;
    background: #e23e38;
    content: "";
}

#banner-part .banner .overlay a {
    display: inline-block;
    color: #fff;
    background: #e23e38;
    border: 1px solid #e23e38;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-left: 30px;
    padding: 10px 20px;
    margin-top: 30px;
    transition: .4s;
}

#banner-part .banner .overlay a:hover {
    background: transparent;
    border: 1px solid #fff;
}

#banner-part ul {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    outline: 0;
    margin-bottom: 30px;
}


#banner-part ul li {
    margin-left: 10px;
    display: inline-block;
}

#banner-part ul li button {
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #fff;
    cursor: pointer;
}

#banner-part ul li.slick-active button {
    background: #e23e38;
    border: 1px solid #e23e38;
}



/* ==========================
    banner part css end
=============================== */




/* ==========================
    about part css start
=============================== */

#about-part {
    margin-top: 80px;

}

#about-part .img {
    position: relative;
}

#about-part .img img {
    width: 100%;
}


#about-part .img .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    left: 0;
}


#about-part .img .overlay i {
    font-size: 56px;
    color: #e23e38;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#about-part .text {
    text-align: center;
    margin-top: 24px;
}


#about-part .text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    width: 570px;
    margin: auto;
    line-height: 24px;
}

#about-part .text p span {
    margin-top: 24px;
    display: block;
}






/* ==========================
    about part css end
=============================== */

/* ==========================
    gallery part css start
=============================== */
#gallery-part {
    margin-top: 80px;

}

#gallery-part .gallery {
    margin-top: 30px;
    background: url(../images/gallery-banner.png) no-repeat center;
    background-size: cover;
}

#gallery-part .gallery .overlay {

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    padding-top: 30px;
}

#gallery-part .gallery .overlay .img {
    margin-bottom: 30px;
    position: relative;
}

#gallery-part .gallery .overlay .img img {
    width: 100%;
}

#gallery-part .gallery .overlay .img .overly {
    width: 100%;
    height: 100%;
    background: rgba(226, 62, 56, .5);
    position: absolute;
    top: 0;
    left: 0;
    border: 5px solid #b9b9b9;
    transform: scale(0);
    transition: .4s;
}

#gallery-part .gallery .overlay .img .overly i {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#gallery-part .gallery .overlay .img:hover .overly {

    transform: scale(.95);

}

/* ==========================
    gallery part css end
=============================== */
/* ==========================
    team part css start
=============================== */
#team-part {
    margin-top: 80px;
}

#team-part .team .members .img {
    margin-top: 70px;
    position: relative;
    transition: .4s;
}

#team-part .team .members .img img {
    width: 100%;

}

#team-part .team .members .img .overlay {
    width: 100%;
    height: 100%;
    background: rgba(226, 62, 56, .5);
    position: absolute;
    top: 0;
    left: 0;
    border: 5px solid #b9b9b9;
    transform: scale(0);
    transition: .4s;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: .4s;
}

#team-part .team .members .img .overlay .icons {
    width: 30px;
    margin-left: auto;
    margin-right: 10px;


}

#team-part .team .members .img .overlay .icons i {
    width: 30px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border: 2px solid#fff;
    margin-top: 10px;
    transition: .4s;
}

#team-part .team .members .img .overlay .icons i:hover {
    background: #fff;
    color: #1da0f2;
}

#team-part .team .members .text {
    text-align: center;
    border: 1px solid transparent;
    border-top: 0;
    padding-top: 20px;
    transition: .4s;
}

#team-part .team .members .text h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #222222;
    text-transform: uppercase;
}

#team-part .team .members .text h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #444444;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 10px;
}

#team-part .team .members .text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #444444;
    width: 190px;
    margin: auto;
    visibility: hidden;
    opacity: 0;
    transition: .4s;
}

#team-part .team .members:hover .img .overlay {
    transform: scale(.93);
}

#team-part .team .members:hover .text {
    border: 1px solid #dddddd;
}

#team-part .team .members:hover .text p {
    visibility: visible;
    opacity: 1;
}

#team-part .team .members:hover .img {
    margin-top: 30px;
}

/* ==========================
    team part css end
=============================== */


/* ==========================
    testimonial part css start
=============================== */
#testimonial-part {
    margin-top: 80px;


}

#testimonial-part .testimonial {
    margin-top: 30px;
    background: url(../images/testi-banner.png) no-repeat center;
    background-size: cover;
}

#testimonial-part .testimonial .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    padding-top: 30px;
    padding-bottom: 50px;
}

#testimonial-part .testimonial .overlay .items {

    width: 49%;
    margin: 0 15px;
}

#testimonial-part .testimonial .overlay .items .img {
    width: 100%;
    display: flex;
}

#testimonial-part .testimonial .overlay .items .img .text {
    margin-left: 12px;
}

#testimonial-part .testimonial .overlay .items .img .text h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
}

#testimonial-part .testimonial .overlay .items .img .text h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-transform: capitalize;
    margin: 10px 0;
}

#testimonial-part .testimonial .overlay .items .img .icon i {
    font-size: 14px;
    color: #e23e38;
}

#testimonial-part .testimonial .overlay .items .bottom {
    width: 100%;
    margin-top: 10px;
}

#testimonial-part .testimonial .overlay .items .bottom p {
    font-family: 'Opeen Sans', sans-serif;
    font-size: 13px;
    color: #dddddd;
}

#testimonial-part .testimonial ul {
    text-align: center;
    margin-top: 33px;
}

#testimonial-part .testimonial ul li {
    display: inline-block;
    margin-left: 10px;
}

#testimonial-part .testimonial ul li button {
    width: 14px;
    height: 14px;
    line-height: 14px;
    border: 1px solid #fff;
    outline: 0;
    font-size: 0;
    background: transparent;
    border-radius: 50%;
}


#testimonial-part .testimonial ul li.slick-active button {
    background: #e23e38;
    border: 1px solid #e23e38;
}

/* ==========================
    testimonial part css end
=============================== */


/* ==========================
    membership part css start
=============================== */
#membership-part {
    margin-top: 80px;
}

#membership-part .item {
    text-align: center;
    margin-top: 30px;

}


#membership-part .item h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #222222;
    background: #dddddd;
    padding: 20px 0;
    text-transform: uppercase;
    transition: .4s;
}

#membership-part .item .bg {
    background: url(../images/price.png) no-repeat center;
    background-size: cover;

}

#membership-part .item .bg .overlay {
    width: 100%;
    height: 100%;
    background: rgb(8, 8, 8, .8);
    padding: 30px 0;
}

#membership-part .item .bg .overlay p {
    font-family: 'Oswald', sans-serif;
    font-size: 29px;
    font-weight: bold;
    color: #ffffff;
    text-transform: capitalize;
}

#membership-part .item .bg .overlay p span {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
}

#membership-part .item ul {
    padding-top: 40px;
    background: #f1f1f1;
    padding-bottom: 5px;
    margin-bottom: 0;
}

#membership-part .item ul li {
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #222222;
    text-transform: capitalize;
}


#membership-part .item a {
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #222222;
    background: #dddddd;
    padding: 10px 0;
    text-transform: uppercase;
    transition: .4s;

}

#membership-part .item:hover h1 {
    background: #e23e38;
    color: #fff;
}


#membership-part .item:hover a {
    background: #e23e38;
    color: #fff;
}



#membership-part .item .bg2 {
    background: url(../images/price2.png) no-repeat center;
    background-size: cover;

}

#membership-part .item .bg2 .overlay {
    width: 100%;
    height: 100%;
    background: rgb(8, 8, 8, .8);
    padding: 30px 0;
}

#membership-part .item .bg2 .overlay p {
    font-family: 'Oswald', sans-serif;
    font-size: 29px;
    font-weight: bold;
    color: #ffffff;
    text-transform: capitalize;
}

#membership-part .item .bg2 .overlay p span {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
}




#membership-part .item .bg3 {
    background: url(../images/price3.png) no-repeat center;
    background-size: cover;

}

#membership-part .item .bg3 .overlay {
    width: 100%;
    height: 100%;
    background: rgb(8, 8, 8, .8);
    padding: 30px 0;
}

#membership-part .item .bg3 .overlay p {
    font-family: 'Oswald', sans-serif;
    font-size: 29px;
    font-weight: bold;
    color: #ffffff;
    text-transform: capitalize;
}

#membership-part .item .bg3 .overlay p span {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
}





/* ==========================
    membership part css end
=============================== */


/* ==========================
    counter part css start
=============================== */
#counter-part {
    margin-top: 80px;
}

#counter-part .counters {
    background: url(../images/counter-banner.png) no-repeat center;
    background-size: cover;

}

#counter-part .counters .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    padding: 40px 0;
}

#counter-part .counters .overlay .text h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;

}


#counter-part .counters .overlay .text p {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-transform: capitalize;
    margin-top: 10px;

}

#counter-part .counters .overlay .mar1 {
    margin-left: 50px;
}

#counter-part .counters .overlay .mar2 {
    margin-left: 70px;
}

#counter-part .counters .overlay .mar3 {
    margin-left: 90px;
}

#counter-part .counters .overlay .mar {
    text-align: right;
}

/* ==========================
    counter part css end
=============================== */

/* ==========================
    slider part css start
=============================== */
#slider-part {
    margin-top: 80px;
}

#slider-part img {
    margin-left: 30px;

}

#slider-part .prev {
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
    font-size: 28px;
    font-weight: bold;
    transition: .4s;
}

#slider-part .next {
    position: absolute;
    top: 50%;
    right: -70px;
    transform: translateY(-50%);
    font-size: 28px;
    font-weight: bold;
    transition: .4s;
}

#slider-part .prev:hover {
    color: #e23e38;
}

#slider-part .next:hover {
    color: #e23e38;
}

#slider-part img:hover {
    -webkit-box-shadow: 1px 1px 25px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 25px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 25px -4px rgba(0, 0, 0, 0.75);

}

/* ==========================
    slider part css end
=============================== */